@layer tailwind-base, primereact, tailwind-utilities;
@import "primereact/resources/themes/lara-light-blue/theme.css"
  layer(primereact);

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer base {
  @font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/poppins.ttf") format("truetype");
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold text-slate-700;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-[22px];
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  p {
    @apply text-base text-slate-600;
  }

  input {
    @apply !py-2 w-full;
  }
}
